In [1]:
print('jo')

jo

In [2]:
import tensorflow as tf
print(tf.__version__)

WARNING:tensorflow:From C:\Users\somna\AppData\Roaming\Python\Python310\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

2.15.0

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
dataset=pd.read_csv('Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
x=dataset.iloc[:,3:13]
y=dataset.iloc[:,13]

In [6]:
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [7]:
#feature engineering
geography=pd.get_dummies(dataset['Geography'],drop_first=True)
gender=pd.get_dummies(dataset['Gender'],drop_first=True)

In [8]:
x=x.drop(['Gender','Geography'],axis=1)

In [9]:
x.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,42,2,0.00,1,1,1,101348.88
1,608,41,1,83807.86,1,0,1,112542.58
2,502,42,8,159660.80,3,1,0,113931.57
3,699,39,1,0.00,2,0,0,93826.63
4,850,43,2,125510.82,1,1,1,79084.10

In [10]:
#now concat as we have removed those stuff
x=pd.concat([x,geography,gender],axis=1)

In [11]:
x.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =train_test_split(x,y,random_state=0,test_size=0.2)

In [13]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [14]:
X_train

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

In [15]:
X_test

array([[-0.55204276, -0.36890377,  1.04473698, ...,  1.75486502,
        -0.57369368, -1.09168714],
       [-1.31490297,  0.10961719, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       [ 0.57162971,  0.30102557,  1.04473698, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       ...,
       [-0.74791227, -0.27319958, -1.37744033, ..., -0.5698444 ,
         1.74309049,  0.91601335],
       [-0.00566991, -0.46460796, -0.33936434, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-0.79945688, -0.84742473,  1.04473698, ...,  1.75486502,
        -0.57369368,  0.91601335]])

In [16]:
X_train.shape

(8000, 11)

In [17]:
#now creating ANN
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import ReLU,ELU,LeakyReLU,PReLU
from tensorflow.keras.layers import Dropout

In [18]:
classifier=Sequential()

WARNING:tensorflow:From C:\Users\somna\AppData\Roaming\Python\Python310\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [19]:
#adding input layer
classifier.add(Dense(units=11,activation='relu'))
classifier.add(Dropout(0.2))

In [20]:
#adding hidden layer-1
classifier.add(Dense(units=7,activation='relu'))
classifier.add(Dropout(0.3))

In [21]:
#adding hidden layer-2
classifier.add(Dense(units=6,activation='relu'))
classifier.add(Dropout(0.2))

In [22]:
#adding output layer
classifier.add(Dense(units=1,activation='sigmoid'))
classifier.add(Dropout(0.2))

In [23]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\somna\AppData\Roaming\Python\Python310\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [24]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
#we can keep optimizer=opt

In [ ]:
model_history=classifier.fit(X_train,y_train,validation_split=0.33,batch_size=10,epochs=100)

Epoch 1/100
WARNING:tensorflow:From C:\Users\somna\AppData\Roaming\Python\Python310\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\somna\AppData\Roaming\Python\Python310\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

536/536 [==============================] - 2s 2ms/step - loss: 1.0904 - accuracy: 0.7182 - val_loss: 0.4818 - val_accuracy: 0.7955
Epoch 2/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9900 - accuracy: 0.7938 - val_loss: 0.4669 - val_accuracy: 0.7955
Epoch 3/100
536/536 [==============================] - 1s 2ms/step - loss: 1.0518 - accuracy: 0.7959 - val_loss: 0.4568 - val_accuracy: 0.7955
Epoch 4/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9990 - accuracy: 0.7960 - val_loss: 0.4518 - val_accuracy: 0.7955
Epoch 5/100
536/536 [==============================] - 1s 2ms/step - loss: 1.0214 - accuracy: 0.7959 - val_loss: 0.4504 - val_accuracy: 0.7955
Epoch 6/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9242 - accuracy: 0.7959 - val_loss: 0.4464 - val_accuracy: 0.7955
Epoch 7/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9516 - accuracy: 0.7962 - val_loss: 0.4421 - val_accuracy: 0.7955
Epoch 8/100
536/536 [==============================] - 1s 2ms/step - loss: 1.0458 - accuracy: 0.7962 - val_loss: 0.4377 - val_accuracy: 0.7955
Epoch 9/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9791 - accuracy: 0.7962 - val_loss: 0.4332 - val_accuracy: 0.7955
Epoch 10/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9428 - accuracy: 0.7962 - val_loss: 0.4290 - val_accuracy: 0.7955
Epoch 11/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9394 - accuracy: 0.7962 - val_loss: 0.4244 - val_accuracy: 0.7955
Epoch 12/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9494 - accuracy: 0.7962 - val_loss: 0.4195 - val_accuracy: 0.7955
Epoch 13/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9383 - accuracy: 0.7962 - val_loss: 0.4165 - val_accuracy: 0.7955
Epoch 14/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9143 - accuracy: 0.7962 - val_loss: 0.4144 - val_accuracy: 0.7955
Epoch 15/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9951 - accuracy: 0.7962 - val_loss: 0.4096 - val_accuracy: 0.7955
Epoch 16/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9076 - accuracy: 0.7962 - val_loss: 0.4073 - val_accuracy: 0.7955
Epoch 17/100
536/536 [==============================] - 1s 2ms/step - loss: 1.0611 - accuracy: 0.7962 - val_loss: 0.4089 - val_accuracy: 0.7955
Epoch 18/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9876 - accuracy: 0.7962 - val_loss: 0.4041 - val_accuracy: 0.7955
Epoch 19/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9245 - accuracy: 0.7962 - val_loss: 0.4047 - val_accuracy: 0.7955
Epoch 20/100
536/536 [==============================] - 1s 2ms/step - loss: 1.0033 - accuracy: 0.8035 - val_loss: 0.4010 - val_accuracy: 0.7955
Epoch 21/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9586 - accuracy: 0.8210 - val_loss: 0.3996 - val_accuracy: 0.7955
Epoch 22/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9583 - accuracy: 0.8298 - val_loss: 0.3985 - val_accuracy: 0.7955
Epoch 23/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9410 - accuracy: 0.8322 - val_loss: 0.3961 - val_accuracy: 0.7955
Epoch 24/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9717 - accuracy: 0.8283 - val_loss: 0.3950 - val_accuracy: 0.7955
Epoch 25/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9701 - accuracy: 0.8306 - val_loss: 0.3939 - val_accuracy: 0.7955
Epoch 26/100
536/536 [==============================] - 1s 2ms/step - loss: 0.8805 - accuracy: 0.8304 - val_loss: 0.3950 - val_accuracy: 0.7955
Epoch 27/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9726 - accuracy: 0.8280 - val_loss: 0.3949 - val_accuracy: 0.7955
Epoch 28/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9129 - accuracy: 0.8287 - val_loss: 0.3925 - val_accuracy: 0.7955
Epoch 29/100
536/536 [==============================] - 1s 2ms/step - loss: 1.0201 - accuracy: 0.8302 - val_loss: 0.3917 - val_accuracy: 0.7955
Epoch 30/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9762 - accuracy: 0.8332 - val_loss: 0.3915 - val_accuracy: 0.7955
Epoch 31/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9218 - accuracy: 0.8321 - val_loss: 0.3919 - val_accuracy: 0.7955
Epoch 32/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9435 - accuracy: 0.8337 - val_loss: 0.3936 - val_accuracy: 0.7955
Epoch 33/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9471 - accuracy: 0.8330 - val_loss: 0.3899 - val_accuracy: 0.7955
Epoch 34/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9616 - accuracy: 0.8345 - val_loss: 0.3887 - val_accuracy: 0.7955
Epoch 35/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9744 - accuracy: 0.8337 - val_loss: 0.3883 - val_accuracy: 0.7955
Epoch 36/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9530 - accuracy: 0.8300 - val_loss: 0.3888 - val_accuracy: 0.7955
Epoch 37/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9859 - accuracy: 0.8322 - val_loss: 0.3888 - val_accuracy: 0.7955
Epoch 38/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9939 - accuracy: 0.8281 - val_loss: 0.3902 - val_accuracy: 0.7955
Epoch 39/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9003 - accuracy: 0.8388 - val_loss: 0.3877 - val_accuracy: 0.7955
Epoch 40/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9641 - accuracy: 0.8317 - val_loss: 0.3891 - val_accuracy: 0.7955
Epoch 41/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9489 - accuracy: 0.8308 - val_loss: 0.3925 - val_accuracy: 0.7955
Epoch 42/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9412 - accuracy: 0.8315 - val_loss: 0.3907 - val_accuracy: 0.7955
Epoch 43/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9240 - accuracy: 0.8328 - val_loss: 0.3881 - val_accuracy: 0.7955
Epoch 44/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9033 - accuracy: 0.8349 - val_loss: 0.3870 - val_accuracy: 0.7955
Epoch 45/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9665 - accuracy: 0.8350 - val_loss: 0.3874 - val_accuracy: 0.7955
Epoch 46/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9512 - accuracy: 0.8302 - val_loss: 0.3896 - val_accuracy: 0.7955
Epoch 47/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9289 - accuracy: 0.8283 - val_loss: 0.3897 - val_accuracy: 0.7955
Epoch 48/100
536/536 [==============================] - 1s 3ms/step - loss: 0.9546 - accuracy: 0.8362 - val_loss: 0.3905 - val_accuracy: 0.7955
Epoch 49/100
536/536 [==============================] - 2s 3ms/step - loss: 0.9529 - accuracy: 0.8399 - val_loss: 0.3875 - val_accuracy: 0.7955
Epoch 50/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9704 - accuracy: 0.8377 - val_loss: 0.3880 - val_accuracy: 0.7955
Epoch 51/100
536/536 [==============================] - 1s 2ms/step - loss: 0.8965 - accuracy: 0.8285 - val_loss: 0.3870 - val_accuracy: 0.7955
Epoch 52/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9441 - accuracy: 0.8309 - val_loss: 0.3892 - val_accuracy: 0.7955
Epoch 53/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9526 - accuracy: 0.8317 - val_loss: 0.3896 - val_accuracy: 0.7955
Epoch 54/100

536/536 [==============================] - 1s 3ms/step - loss: 0.8965 - accuracy: 0.8280 - val_loss: 0.3873 - val_accuracy: 0.7955
Epoch 55/100
536/536 [==============================] - 1s 2ms/step - loss: 1.0101 - accuracy: 0.8313 - val_loss: 0.3886 - val_accuracy: 0.7955
Epoch 56/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9089 - accuracy: 0.8283 - val_loss: 0.3888 - val_accuracy: 0.7955
Epoch 57/100
536/536 [==============================] - 1s 2ms/step - loss: 0.8444 - accuracy: 0.8349 - val_loss: 0.3911 - val_accuracy: 0.7955
Epoch 58/100
536/536 [==============================] - 1s 2ms/step - loss: 0.8713 - accuracy: 0.8354 - val_loss: 0.3899 - val_accuracy: 0.7955
Epoch 59/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9395 - accuracy: 0.8350 - val_loss: 0.3880 - val_accuracy: 0.7955
Epoch 60/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9838 - accuracy: 0.8322 - val_loss: 0.3893 - val_accuracy: 0.7955
Epoch 61/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9205 - accuracy: 0.8294 - val_loss: 0.3881 - val_accuracy: 0.7955
Epoch 62/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9929 - accuracy: 0.8328 - val_loss: 0.3880 - val_accuracy: 0.7955
Epoch 63/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9437 - accuracy: 0.8315 - val_loss: 0.3898 - val_accuracy: 0.7955
Epoch 64/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9164 - accuracy: 0.8369 - val_loss: 0.3940 - val_accuracy: 0.7955
Epoch 65/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9020 - accuracy: 0.8285 - val_loss: 0.3866 - val_accuracy: 0.7955
Epoch 66/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9485 - accuracy: 0.8337 - val_loss: 0.3869 - val_accuracy: 0.7955
Epoch 67/100
536/536 [==============================] - 1s 2ms/step - loss: 1.0118 - accuracy: 0.8263 - val_loss: 0.3874 - val_accuracy: 0.7955
Epoch 68/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9758 - accuracy: 0.8337 - val_loss: 0.3871 - val_accuracy: 0.7955
Epoch 69/100
536/536 [==============================] - 1s 2ms/step - loss: 1.0158 - accuracy: 0.8354 - val_loss: 0.3889 - val_accuracy: 0.7955
Epoch 70/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9789 - accuracy: 0.8270 - val_loss: 0.3880 - val_accuracy: 0.7955
Epoch 71/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9550 - accuracy: 0.8345 - val_loss: 0.3857 - val_accuracy: 0.7955
Epoch 72/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9520 - accuracy: 0.8358 - val_loss: 0.3938 - val_accuracy: 0.7955
Epoch 73/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9318 - accuracy: 0.8382 - val_loss: 0.3852 - val_accuracy: 0.7955
Epoch 74/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9688 - accuracy: 0.8326 - val_loss: 0.3876 - val_accuracy: 0.7955
Epoch 75/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9897 - accuracy: 0.8350 - val_loss: 0.3870 - val_accuracy: 0.7955
Epoch 76/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9369 - accuracy: 0.8322 - val_loss: 0.3862 - val_accuracy: 0.7955
Epoch 77/100
536/536 [==============================] - 1s 2ms/step - loss: 1.0245 - accuracy: 0.8315 - val_loss: 0.3880 - val_accuracy: 0.7955
Epoch 78/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9433 - accuracy: 0.8339 - val_loss: 0.3873 - val_accuracy: 0.7955
Epoch 79/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9962 - accuracy: 0.8375 - val_loss: 0.3882 - val_accuracy: 0.7955
Epoch 80/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9225 - accuracy: 0.8330 - val_loss: 0.3893 - val_accuracy: 0.7955
Epoch 81/100
536/536 [==============================] - 1s 2ms/step - loss: 1.0201 - accuracy: 0.8384 - val_loss: 0.3855 - val_accuracy: 0.7955
Epoch 82/100
536/536 [==============================] - 1s 2ms/step - loss: 0.8822 - accuracy: 0.8365 - val_loss: 0.3878 - val_accuracy: 0.7955
Epoch 83/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9199 - accuracy: 0.8322 - val_loss: 0.3833 - val_accuracy: 0.7955
Epoch 84/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9492 - accuracy: 0.8291 - val_loss: 0.3849 - val_accuracy: 0.7955
Epoch 85/100
536/536 [==============================] - 1s 2ms/step - loss: 1.0276 - accuracy: 0.8280 - val_loss: 0.3838 - val_accuracy: 0.7955
Epoch 86/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9794 - accuracy: 0.8373 - val_loss: 0.3872 - val_accuracy: 0.7955
Epoch 87/100
536/536 [==============================] - 1s 3ms/step - loss: 0.9441 - accuracy: 0.8354 - val_loss: 0.3844 - val_accuracy: 0.7955
Epoch 88/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9551 - accuracy: 0.8334 - val_loss: 0.3832 - val_accuracy: 0.7955
Epoch 89/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9979 - accuracy: 0.8309 - val_loss: 0.3841 - val_accuracy: 0.7955
Epoch 90/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9153 - accuracy: 0.8369 - val_loss: 0.3839 - val_accuracy: 0.7955
Epoch 91/100
536/536 [==============================] - 1s 2ms/step - loss: 0.8842 - accuracy: 0.8382 - val_loss: 0.3833 - val_accuracy: 0.7955
Epoch 92/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9512 - accuracy: 0.8339 - val_loss: 0.3846 - val_accuracy: 0.7955
Epoch 93/100
536/536 [==============================] - 1s 2ms/step - loss: 0.8697 - accuracy: 0.8347 - val_loss: 0.3850 - val_accuracy: 0.7955
Epoch 94/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9322 - accuracy: 0.8375 - val_loss: 0.3821 - val_accuracy: 0.7955
Epoch 95/100
147/536 [=======>......................] - ETA: 0s - loss: 0.9581 - accuracy: 0.8374

In [ ]:
#Early stopping-when accuracy is not at all increasing automatically the training will stop.below stuff taken
# from keras documentation.From this we can know how many epochs is needed.
import tensorflow as tf
early_stopping=tf.keras.callbacks.EarlyStopping(
    monitor="val_loss",
    min_delta=0.0001,
    patience=20,
    verbose=1,
    mode="auto",
    baseline=None,
    restore_best_weights=False,
)

In [ ]:
model_history=classifier.fit(X_train,y_train,validation_split=0.33,batch_size=10,epochs=1000,callbacks=early_stopping)

In [ ]:
#see in the above early stopping gor excected and model stopped training
model_history.history.keys()

In [ ]:
plt.plot(model_history.history['accuracy'])
plt.plot(model_history.history['val_accuracy'])
plt.title('model accuracy')
plt.xlabel('accuracy')
plt.ylabel('epoch')
plt.legend(['train','test'],loc='upper left')
plt.show()

In [ ]:
plt.plot(model_history.history['loss'])
plt.plot(model_history.history['val_loss'])
plt.title('model loss')
plt.xlabel('loss')
plt.ylabel('epoch')
plt.legend(['train','test'],loc='upper left')
plt.show()

In [ ]:
y_pred=classifier.predict(X_test)
y_pred=(y_pred>=0.5)

In [ ]:
#create confusion matrix
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

In [ ]:
#calculate accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)
score

In [ ]:
#get the weights
classifier.get_weights()

In [ ]:
from tensorflow.keras.models import save_model, load_model
import pickle

# Assuming 'model_history' is the history object returned by classifier.fit
# and 'model_history.model' is your TensorFlow/Keras model

# Save the model
model_history.model.save('model_tf.h5')

# Save the model history using pickle
with open('model_history.pkl', 'wb') as file:
    pickle.dump(model_history.history, file)

# Load the model
loaded_model_tf = load_model('model_tf.h5')

# Load the model history using pickle
with open('model_history.pkl', 'rb') as file:
    loaded_model_history = pickle.load(file)

In [ ]:
loaded_model = load_model('model_tf.h5')
loaded_model